.ptb-sm {
  // padding: 0.5rem 0;
}

.plr-1 {
  // padding: 0 1rem;
}

.plr-2 {
  // padding: 0 2rem;
}
.pb-0 {
  padding-bottom: 0px !important;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mt-2 {
  // margin-top: 2rem;
}

.text-center {
  text-align: center;
}

.d-inline {
  display: inline-block;
}


.l-space-1{
  letter-spacing: 1px;
}
.l-space-2{
  letter-spacing: 2px;
}

