.footer {
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, $clr-sirocco, $clr-seagull);
  background-size: 100% 1px;
  background-position: center top;
  padding-top: 1.4rem;
  margin-top: 1rem;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  text-align: center;
 

  @include tab-land {
    font-size: 1.6rem;
    margin-bottom: 0;
    //*counter margin-bottom: 1rem as padding of 3.5rem is on the main page
   
  }

  & p {
    margin-bottom: 1rem;
    @include tab-land {
      // text-align: left;
    }

  }

  &__social {
    margin-bottom: .4rem;
  }

  & .build-info {
    @include tab-land {
      text-align: center;
    }
  }
}
